/*
	Elements Styles
	Author: Jerad Rodgers
	Date: 10/28/2018
	Filename: elements_styles.css
	supporting files: none
	<!-- Rubric Item #6 Error Free CSS -->

/* Display HTML structural elements as blocks */

header, section, nav, footer {
	display: block;
}

/* Set the default padding and margin space */

body {
	background: rgba(63, 16, 16, 0.3);
	position: relative;
	width: 95%;
	list-style: none;
	min-width: 1000px;
	max-width: 1400px;
}

header h1 {
	text-align:center;
	background-color: rgb(63, 16, 16);
	color: rgb(225, 182, 18);
	font-size: 1.7em;
	letter-spacing: 0.4em;
	line-height: 1.8em;
	text-indent: 1em;
}

/* Verticle Navigation List, float left, set width and background color*/

nav.vertical {
	float: left;
	width: 15em;
	background-color: rgb(225, 182, 18);
}

/* Set sytle for links */

nav.vertical li {
	font-family: 'Century Gthic', 'sans-serif';
	font-size: 0.7em;
	list-style: none;
	line-height: 1.4em;
	margin-left: 1em;
	margin-bottom: 1.2em;
}

/* Removed underline and set color */

nav.vertical li a {
	color: rgb(63, 16, 16);
	text-decoration: none;
}

/* Create white hover highlight */

nav.vertical li a:hover {
	color: white;
}

#week07_elements {
	margin-left: 29%;
	width: 70%;
}

/* Style Rule for Splash Page and Links page*/

nav.horizontalNAV li {
	list-style: none;
	float: left;
	padding: 15px 0px;
	width: 15%;
	text-align: center;
}

/* removes dots and underline */

nav.horizontalNAV li a {
	text-decoration: none;
}

#links h2 {
	text-align: center;
	margin-right:  23%;
}

/* moves links away from left margin */

#links h4 {
	margin-left: 30%;
}

nav.verticalNAV {
	margin-left: 30%;
}

/* removes dots and underline */


nav.verticalNAV li a {
	text-decoration: none;
}

/* creates white highlight */ 

nav.verticalNAV li a:hover {
	color: white;
}