/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 1

   History Style Sheet
   Author: Jerad Rodgers
   Date:   10/28/2018

   Filename:         history.css
   Supporting Files: 
	<!-- Rubric item #10 CSS is error free -->
*/

/* Display HTML structural elements as blocks Rubric item #13*/

header, section, nav {
	display: block;
}

/* Set the default padding and margin space */

body * {
	padding: 0px;
	margin: 0px;
	position: relative;
}

/* Styles for the page header, Color, Centering and width */

header {
	background-color: rgb(51, 51, 51);
	text-align: center;
	width: 55em;
}

/* Set the height of the inline image within the header */

header img {
	height: 4em;
}

/* Verticle Navigation List, float left, set width and background color Rubric item #14*/

nav.vertical {
	float: left;
	width: 15em;
	background-color: rgb(51, 51, 51);
}

/* Set sytle for links */

nav.vertical li {
	font-family: 'Century Gthic', 'sans-serif';
	font-size: 0.7em;
	list-style: none;
	line-height: 1.4em;
	margin-left: 1em;
	margin-bottom: 1.2em;
}

/* Removed underline and set color Rubric Item #15 */

nav.vertical li a {
	color: rgb(212, 212, 212);
	text-decoration: none;
}

/* Create white hover highlight */

nav.vertical li a:hover {
	color: white;
}

/* Speech Section Styles */

#speech {
	background-color: rgb(212, 212, 212);
	width: 40em;
	float: left;
	font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif'; 
}
#speech h1 {
	background-color: rgb(51, 51, 51);
	color: rgb(212, 212, 212);
	font-size: 2em;
	text-align: center;
}
#speech p {
	font-size: 0.9em;
	margin: 1em;
}

/* Creates First letter and line style to differ from speech Rubric Item #16 use pseudo class */

#speech p:first-of-type:first-line {
	text-transform: uppercase;
}
#speech p:first-of-type:first-letter {
	border-right: 0.02em solid black;
	border-bottom: 0.02em solid black;
	float: left;
	font-size: 4em;
	line-height: 0.8em;
	margin-right: 0.3em;
	padding-right: 0.2em;
	padding-bottom: 0.2em;
}

/* floats Image to right once margin is clear creating irregular line wrap Rubric item #17 */

#speech img {
	clear: right;
	float: right;
	height: 4em;
}