/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb effects Style Sheet

   Filename:         dweffects.css
   Supporting Files: 


rgb(22, 170, 167)


*/
/* Rubric # 7; 1 of 5 impliment shadows */ 

body {
	-moz-box-shadow: rgba(22, 170, 167, 0.6) 0px 0px 25px;
   -webkit-box-shadow: rgba(22, 170, 167, 0.6) 0px 0px 25px;
   box-shadow: rgba(22, 170, 167, 0.6) 0px 0px 25px;
}

/* Rubric # 7; 2 of 5 implement opacity */ 

header nav.horizontal li {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;

	-moz-box-shadow: inset rgba(22, 170, 167, 0.6) -10px -10px 7px, #8f9596 5px 5px 15px;
	-webkit-box-shadow: inset rgba(22, 170, 167, 0.6) -10px -10px 7px, #8f9596 5px 5px 15px;
	box-shadow: inset rgba(22, 170, 167, 0.6) -10px -10px 7px, #8f9596 5px 5px 15px;
}

/* Rubric # 7; 3 of 5 implement blur */ 

article { 
	-moz-box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
   -webkit-box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
   box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;


}

/* Rubric # 7; 4 of 5 implement gradient */ 

section#right blockquote{
	background: -o-linear-gradient(left, black, rgba(22, 170, 167, 0.5) .5%, white 14%);
   background: -ms-linear-gradient(left, black, rgba(22, 170, 167, 0.5) .5%, white 14%);
   background: -moz-linear-gradient(left, black, rgba(22, 170, 167, 0.5) .5%, white 14%);
   background: linear-gradient(to right, black, rgba(22, 170, 167, 0.5) .5%, white 14%);

   -moz-box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
   -webkit-box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
   box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
}

/* Verticle list effects */ 

section#left nav.vertical {
   -moz-box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
   -webkit-box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
   box-shadow: inset rgba(22, 170, 167, 0.6) 0px 0px 30px, #8f9596 5px 5px 5px;
}

/* Recipe Box effects */

section#center aside {
   -moz-box-shadow: #8f9596 5px 5px 5px;
   -webkit-box-shadow: #8f9596 5px 5px 5px;
   box-shadow: #8f9596 5px 5px 5px;
}