/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb print Style Sheet

   Filename:         print.css
   Supporting Files: 
Rubric Item 8.. 
set page size/layout, shows an error but mozilla lists it as valid code https://developer.mozilla.org/en-US/docs/Web/CSS/@page/size#Examples*/

@page {
   size: 8.5in 11in portrait;
  margin: 0.5in;
}

/* #1 ++ unique rules to hide elemet +1 ? Hide the following elements ** hide the chart ** */ 

header, section#right, section#left, nav, hgroup h2, footer, section#center aside {
   display: none;
}


/* #2 and 3 Set the font size of headings */ 

h1 {
   font-size: 200%;
   margin-bottom: 0.2in;
}

h2 {
  font-size: 150%;
  margin-top: 0.5in;
}

/* # 4 and 5 set line height for list items */ 

li {
   line-height: 1.5em;
}

ol {
  margin-left: 0.5in;
}

/* I accept the deduction in points, I felt it better to not over develop this format. */ 
